form{
  width: 30vw;
  margin: auto;
  text-align: center;
}

input{
  margin: 2rem auto;
  padding: 0.7rem;
  width: 100%;
  border: none;
  background: none;
  display: block;
}

input[type="password"], img{
  display: flex;
  
}

input::placeholder, input, button, .link, .correct, .incorrect{
  font-size: 1.2rem;
}

input::placeholder{
  color: rgb(175, 175, 175);
}

input:focus{
  outline: none;
  border-bottom: 2px solid white;
}

button{
  border: none;
  box-shadow: 0 5px 10px black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background: none;
}

button:hover{
  transition: 0.5s;
  background-color: #79bfc5;
  color: rgb(0, 0, 0);
}

img{
  width: 50px;
  height: 50px;
}

.correct{
  color: yellowgreen;
}

.incorrect{
  color: tomato;
}
